@import 'reset';

$primary: #00284a;
$secondary: #4aa3ce;
$grey: #cecece;

body {
    font-family: 'Open Sans', sans-serif;
    background: #ececec;
    color: white;
}

h1 {

}

h2, h3, h4, h5, h6 {

}

.header {
    background-color: #24292e;
    margin-bottom: 50px;
    padding: 10px 5px;
    text-align: center;
    display: flex;
    flex-flow: column;


    &--title {
        font-size: 70px;
        color: $secondary;
    }

    &--separator {
        width: 800px;
        height: 1px;
        margin: 30px auto 20px;
        background-color: $grey;
    }

    &--tagline {
        color: $grey;
        font-size: 30px;
        margin-bottom: 10px;
    }
}

.title {
    &--re {
        color: #a00000;
    }

    &--weak {
        color: $grey;
        font-size: 50px;
    }
}


.leaderboard {
    &-wrapper {
        display: flex;
        flex-flow: column;
    }

    &-title {
        text-align: center;
        margin: 0 5px 40px;
        font-size: 60px;
        color: $primary;
    }

    width: 800px;
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 40px;

    & td {
        border: 1px solid black;
        padding: 25px;
        text-align: center;
        color: white;
        background-color: $secondary;
        font-weight: 700;
        vertical-align: middle;
    }


    &__header td {
        background-color: $primary;
    }

    & tr:nth-child(even) td {
        background-color: rgba(74, 163, 206, 0.65)
    }

    & tr:nth-child(2) td {
        background-color: #5eca49;
        padding: 50px 25px;
        font-size: 40px;
    }
}
